body{
    margin: 0;
    padding: 0;
}

h1, h2, p, table, li{
    font-family: "Helvetica", sans-serif;
}

p{
    max-width: 50em;
    margin: 3em auto;
    padding: 0 2em;
}

h2, h3{
	text-align: center;
}

.ul{
    max-width: 45em;
    margin: 0 auto;
    padding: 0px 4em;
}

#nav-border{
    position: relative;
    height: 70.400px;
}

#navigation{
    z-index: 3;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    background-color: #fff;
}

#burger-container{
    margin: 0;
    padding: 0;
    height: 100%;
    width: fit-content;
    list-style: none;
    float: right;
}

#burgermenu{
    float: right;
    width: 2.5em;
    margin: 52%;
}
#burgermenu div{
    background-color: #000;
    padding: 0.2em;
    margin: 0.3em 0;
    border-radius: 1em;
}

#nav-container{
    padding: 0;
    list-style: none;
    width: 100%;
    display: none;
    background-color: #4286f4;
}

#nav-container li, #nav-container a li{
    width: auto;
    float: left;
}

#nav-container a li span{
    text-decoration: none;
    color: #000;
    top: 40%;
    font-family: Helvetica;
    margin: 0 0 0 1em;
    position: relative;
}

#nav-container a .current-page span{
    color: #fff;
}

#nav-container .current-page{
    background-color: #3e6bca;
    color: #fff;
}

#content{
    z-index: 2;
    position: relative;
}

#footer{
	position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 3em;
}

#developer-info{
    width: fit-content;
    margin: auto;
    font-family: Apple Chancery, monospace;
}

#developer-info a{
    color: #4286f4;
    text-decoration: none;
}

@media screen and (min-width: 820px){
    h2{
        font-size: 16pt;
    }

    #navigation{
        height: 4em;
    }

    #nav-border{
        height: 50.400px
    }

    #burger-container{
        display: none;
    }

    #nav-container{
        margin: 0;
        display: block;
        height: 100%;
        position: relative;
    }

    #nav-container a li{
        height: 100%;
        padding: 0 1em;
    }

    #nav-container a li span{
        color: #fff;
        font-size: 15pt;
        margin: 0;
        position: relative;
        top: 33%;
    }

    #nav-container #float-right{
        float: right;
    }

    #nav-container a li:hover{
        background: #356dc9;
    }

    #developer-info{
        font-size: 11pt;
    }

    .desktop{
        display: block;
    }

    .mobile{
        display: none;
    }

    #moving-sun img{
        height: 5em;
    }

    #solarp{
        height: 10em;
        margin: 3em auto;
    }

    #current-sun, #current-price{
        text-align: center;
        display: block;
    }

    #header-text h1{
        font-size: 40pt;
    }
}

@media screen and (max-width: 820px){
    h2{
        font-size: 18pt;
    }

    #navigation{
        position: relative;
    }

    #nav-container{
        margin: 0;
    }

    #nav-container a li{
        width: 100%;
        background-color: #fff;
        padding: 1.5em 0;
    }

    #nav-container a span{
        color: #fff;
    }

    #content{
        top: 5em;
    }

    #developer-info{
        font-size: 10pt;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    #moving-sun img{
        height: 5em;
    }

    #solarp{
        height: 10em;
        margin: 3em auto;
    }

    #current-sun, #current-price{
        text-align: center;
        display: block;
        font-size: 14pt;
    }

    #header-text h1{
        font-size: 20pt;
    }

    #test h2:first-child{
        margin: 0;
        padding: 1em 0 0;
    }
}

#header{
    position: relative;
}

#header-text{
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 50%;
}

#header-text h1{
    width: fit-content;
    margin: 0 auto;
    color: #fff;
    text-shadow: 3px 4px #000;
}

#header img{
    z-index: 1;
    width: 100%;
    filter: grayscale(70%);
}

#cur-sun-energie{
    margin: 1em 0;
}

#moving-sun{
    margin: 3em auto;
    max-width: 50em;
    width: 40%;
}

#solarp{
    display: block;
}